section.header{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 8vh;
    min-width: 100vw;
    // background-color: black;
    div.headers{
        height: 100%;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        input{
            width: auto;
            height: 60%;
        }

        .btn.expand-sidebar {
            z-index: 1000;
            font-size: 3vw;
            // color: white;
        }
    }
}

section.middle {
    display: flex;
    flex-direction: row;
    section.sidebar {
        min-height: 100vh;
        width: 0vw;
        &.expand{
            width: auto;
            max-width: 80vw;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        }
    }
}

#map {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    
}
